:root{
  --cyan: #30E3CA;
  --dark-cyan: #11999E;
  --light-color: #E4F9F5;
  --Text-input-field: #f7f7f7;
  --Gray: #40514E;
  --black: #000000;
  --white: #ffffff;
  --red: rgb(237, 92, 92);
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
  --title: 4.8rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

body{
  font-family: 'Inter', sans-serif;
  font-family: 'Kanit', sans-serif;
  background-color: var(--dark-cyan);
}