.task__container li{
    list-style: none;
}

.task__container .todo__container .todo{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: none;
    width: 360px;
    background-color: var(--light-color);
    margin-top: 20px;
    border-radius: 8px;
    padding: 12px;
    font-size: var(--md);
    font-weight: 500;
    box-shadow: 8px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
}

.task__container .todo .todo__check{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 40px;
    background-color: var(--black);
    border: 1.9px solid var(--cyan);
}

.task__container .todo .todo__check:active{
    background-color: var(--cyan);
    border: 1px solid black;
}

.task__container .todo .todo__close{
    cursor: pointer;
    position: absolute;
    top: -4px;
    right: 8px;
    font-weight: bold;
}

.task__container .todo .todo__close:hover{
    color:rgb(237, 92, 92)
}

@media (max-width: 430px){
    .task__container .todo__container .todo{
    width: 284px;
}

    .task__container .todo__container .todo p{
        font-size: var(--sm);
    }

}
